
.CreatorCard {
  border: 1px solid black;
  width: 25%;
}

.CreatorCard .AuthorPhoto {
  width: 100%;
}

.CreatorCard .CardTag {
  color: #4286f4;
  display: inline-block;
  margin: .2em;
}

.CreatorCard .Description {
  padding: .5em;
}

.CreatorCard .Description a {
  text-decoration: none;
}

.CreatorCard .Description span {
  font-size: 80%;
  font-style: italic;
  position: relative;
  bottom: 10px;
}

.CreatorCard blockquote {
  border-left: 5px solid #bc56bb;
  border-right: 1px solid #bc56bb;
  margin-left: .3em;
  margin-right: 0;
  padding: .3em;
}

.CreatorCard blockquote p {
  margin-left: .8em;
}

.CreatorCard h2 {
  text-align: center;
}

.SocialLinks img {
  margin-left: .5em;
  width: 3em;
}

.SearchWidget {
  margin-bottom: 1em;
  margin-top: 1em;
}

.SearchWidget button {
  background-color: #4286f4;
  border: none;
  color: white;
  cursor: pointer;
  padding: 1em;
  // Vertialcally offset buttons to align with input border bottom
  position: relative;
  top: 1px;
}

.SearchWidget button:hover {
  background-color: #2f6fd6;
}

.SearchWidget .AdvancedBtn {
  background-color: #bc56bb;
}

.SearchWidget .AdvancedBtn:hover {
  background-color: #aa2ca9;
}

.SearchWidget input {
  border: none;
  border-bottom: 1px solid #4286f4;
  padding: 1em;
  width: 75vw;
}

.TagBox {
  border-radius: 4px;
  color: white;
  cursor: pointer;
  display: inline-block;
  font-weight: bold;
  margin: 1em;
  padding: 1.5em;
  width: 25%;
}

.TagBox:nth-child(even) {
  background-color: #4286f4;
}

.TagBox:nth-child(even):hover {
  background-color: #2f6fd6;
}

.TagBox:nth-child(odd) {
  background-color: #bc56bb;
}

.TagBox:nth-child(odd):hover {
  background-color: #aa2ca9;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

@media (max-width: 320px) {
  .TagBox {
    font-size: 3vw;
  }
}

@media (max-width: 500px) {
  .TagBox {
    width: 50%;
  }
}
